body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: hwb(0 100% 0%);
}

h1 {
    position: relative;
    top: -15px;
}

div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 200px;
    row-gap: 70px;
}

div > div {
    cursor: pointer;
}

#div1, #div2, #div4{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}

#div4 {
    font-size: 3rem;
}

.rotateClockwise {
    animation: spin90 400ms;
}

@keyframes spin90 {
    100% {transform: rotate(90deg);}
}

.rotateAntiClockwise {
    animation: spin-90 400ms;
}

@keyframes spin-90 {
    100% {transform: rotate(-90deg);}
}